[package]
name = "tgreddit"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.64"
chrono = "0.4.22"
duct = "0.13.5"
env_logger = "0.9.0"
getopts = "0.2.21"
itertools = "0.10.3"
lazy_static = "1.4.0"
log = "0.4.17"
regex = { version = "1.6.0", default-features = false, features = ["std", "unicode-perl"] }
rusqlite = { version = "0.28.0", features = ["chrono", "bundled"] }
rusqlite_migration = "1.0.0"
secrecy = { version = "0.8.0", features = ["serde"] }
serde = { version = "1.0.144", features = ["derive"] }
serde_derive = "1.0.144"
serde_json = "1.0.85"
signal-hook = "0.3.14"
strum = "0.24.1"
strum_macros = "0.24.3"
teloxide = { version = "0.10.1", features = ["macros", "auto-send"] }
tempdir = "0.3.7"
thiserror = "1.0.34"
tokio = { version = "1.21.0", features = ["rt-multi-thread", "macros", "sync"] }
toml = "0.5.9"
url = "2.2.2"
xdg = "2.4.1"
reqwest = { version = "0.11.11", features = ["json"] }

# Use vendored openssl. We don't depend on it directly.
openssl = { version = "0.10.41", features = ["vendored"], optional = true }

[features]
vendored-openssl = ["openssl"]
